@charset "utf-8";
p{color:#260A9A;font-size:9px; background-image:url("images/help.jpg"); background-repeat:no-repeat;}
center{font-family:Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";}
