@charset "utf-8";
.grueso{font-weight:bold; color:#0D06AD; }

.anteior{background-color:#9DF5BD; font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif"; font-weight: bold; }

h1~h2{color:red;}
p[name*="mi"]{color:green;font-zise:55px;border-radius:0px;  
   }
.marcar{text-align-last: left; text-align:center; text-indent:inherit; word-spacing:5px; letter-spacing:10px;}
.fig{vertical-align:text-bottom;}

p {
    color: #FF0303;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 9px;
    padding-bottom: 9px;
    border-radius: 0px 72px 72px;
    background-image: -webkit-linear-gradient(1deg,rgba(6,195,243,1.00) 0%,rgba(248,255,0,1.00) 100%);
    background-image: -moz-linear-gradient(1deg,rgba(6,195,243,1.00) 0%,rgba(248,255,0,1.00) 100%);
    background-image: -o-linear-gradient(1deg,rgba(6,195,243,1.00) 0%,rgba(248,255,0,1.00) 100%);
    background-image: linear-gradient(89deg,rgba(6,195,243,1.00) 0%,rgba(248,255,0,1.00) 100%);
    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
    font-style: normal;
    font-size: large;
    font-variant: normal;
    font-weight: bold;
    border-width: 0px;
}

center > p{color:#126B0B; font-weight: bold; font-size:38px; border-radius:0px; background:#FFFFFF;}

pre{
    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
    color: green;
    /* [disabled]border-color: #A7070A; */
    border-style: solid;
    border-width: 1em;
}
body p {
}
span{color:blue;font-style: oblique;font-size: 18px;font-weight: 200;text-decoration: underline; font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";}

	
	.bor{
    border-color: #F80458;
    border-style: solid;
    border-left-width: 6px;
    border-right-width: 6px;
    /* [disabled]border-bottom-width: 6px; */
    border-top-width: 6px;
    background-color: orange;
    color: green;
    font-variant: small-caps;
    background-image: -webkit-linear-gradient(0deg,rgba(252,47,47,1.00) 25.39%,rgba(0,245,43,1.00) 76.17%);
    background-image: -moz-linear-gradient(0deg,rgba(252,47,47,1.00) 25.39%,rgba(0,245,43,1.00) 76.17%);
    background-image: -o-linear-gradient(0deg,rgba(252,47,47,1.00) 25.39%,rgba(0,245,43,1.00) 76.17%);
    background-image: linear-gradient(90deg,rgba(252,47,47,1.00) 25.39%,rgba(0,245,43,1.00) 76.17%);
}

.bord{
    border: 6px solid green;
    background-color: lightpink;
    border-radius: 19px;
    background-image: -webkit-linear-gradient(6deg,rgba(236,251,0,1.00) 0%,rgba(255,15,0,1.00) 100%);
    background-image: -moz-linear-gradient(6deg,rgba(236,251,0,1.00) 0%,rgba(255,15,0,1.00) 100%);
    background-image: -o-linear-gradient(6deg,rgba(236,251,0,1.00) 0%,rgba(255,15,0,1.00) 100%);
    background-image: linear-gradient(84deg,rgba(236,251,0,1.00) 0%,rgba(255,15,0,1.00) 100%);
}
h1   {
    color: #1013B3;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
    font-style: oblique;
    font-variant: small-caps;
    text-shadow: 2px 0px #8E8787;
    border-radius: 70px;
    background-image: -webkit-linear-gradient(178deg,rgba(11,180,36,1.00) 0%,rgba(255,0,0,1.00) 100%);
    background-image: -moz-linear-gradient(178deg,rgba(11,180,36,1.00) 0%,rgba(255,0,0,1.00) 100%);
    background-image: -o-linear-gradient(178deg,rgba(11,180,36,1.00) 0%,rgba(255,0,0,1.00) 100%);
    border: 3px solid black;
    background-image: linear-gradient(272deg,rgba(11,180,36,1.00) 0%,rgba(255,0,0,1.00) 100%);
}


p b{ font-size:28px; font-family:Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";color:blue; background:#BEF80C;}

@media screen and (max-width:800px){
	p{color:#099B19;
	border:1px solid #06055A;}
	center{background-color:#DD24CB;
	color: red;
	font-size: 30px;
	margin:20px;
}

}

@media screen and (max-width: 649px){p{
    color: #FB0514;
    border: 2px solid #098213;
    margin-top: 42px;
    margin-bottom: 19px;
    padding-top: 20px;
    padding-bottom: 20px;
    left: auto;
    text-shadow: 0px 0px #1BA4A2;
    background-color: aqua !important;
    background-image: -webkit-linear-gradient(270deg,rgba(242,248,11,1.00) 19.17%,rgba(255,0,0,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(242,248,11,1.00) 19.17%,rgba(255,0,0,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(242,248,11,1.00) 19.17%,rgba(255,0,0,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(242,248,11,1.00) 19.17%,rgba(255,0,0,1.00) 100%);	
	}
body time {
}

	}


@media screen and (max-width:200px){
p{color: blue;
	border: 3px solid #A80609;
	margin:auto;
	background-color:#14889B;
	
	}
	center{
    font-size: 52px;
    color: #06126B;
    background-color: #B5F0A1;
    border-width: 59em;
    border-color: #0D9A56;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
    border-radius: 34px;
	}
pre {
    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
    color: green;
}
}

@media screen and (orientation:landscape){
body a {
    border: 1px solid #06055A;
    color: #099B19;
}
.grueso {
    font-weight: bold;
    color: #0D06AD;
}


}
